body {
  text-align: center;
}

.level-heading {
  margin-top: 50px;
}

.game-area{
  margin-top: 50px;
}

.choice {
  height: 200px;
  width: 200px;
  border: 2px black solid;
  margin: 10px;
}

.left {
  margin-left: auto;
  margin-right: 0px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.label {
  position: relative;
  top: 40%;
  color: white;
}

.animate {
  color: black;
  opacity: 30%;
}

@media (max-width: 1000px) {
  .left, .right {
    margin: auto;
  }
  .choice {
    margin-top: 20px;
    height: 100px;
    width: 100px;
  }
}